<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--VICTOR-PC-->
    <!--
    <add name="aspel_prod30" connectionString="Data Source=VICTOR-PC\SQLSRV2008R2;Initial Catalog=aspel_prod30;Persist Security Info=True;User ID=sa;Password=0123456789" providerName="System.Data.SqlClient" />
    <add name="aspel_sae80" connectionString="Data Source=VICTOR-PC\SQLSRV2008R2;Initial Catalog=aspel_sae80;Persist Security Info=True;User ID=sa;Password=0123456789" providerName="System.Data.SqlClient" />
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VICTOR-PC\SQLSRV2008R2;initial catalog=SIP;persist security info=True;user id=sa;password=0123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VICTOR-PC\SQLSRV2008R2;initial catalog=SIP;persist security info=True;user id=sa;password=0123456789;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VICTOR-PC\SQLSRV2008R2;initial catalog=SIP;user id=sa;password=0123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!--MÁQUINA ORLANDO-->
    <!--
    
    <add name="aspel_prod30" connectionString="Data Source=192.168.75.53;Initial Catalog=aspel_prod30;Persist Security Info=True;User ID=sa;Password=minotauro" providerName="System.Data.SqlClient" />
    <add name="aspel_sae50" connectionString="Data Source=192.168.75.53;Initial Catalog=aspel_sae50;Persist Security Info=True;User ID=sa;Password=minotauro" providerName="System.Data.SqlClient" />
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.53;initial catalog=SIP;persist security info=True;user id=sa;password=minotauro;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.53;initial catalog=SIP;persist security info=True;user id=sa;password=minotauro;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.53;initial catalog=SIP;user id=sa;password=minotauro;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
    <!-- OFICINA GPO IVSTEC, DESARROLLO PARA ULP-->
    <!--
    <add name="aspel_prod30" connectionString="Data Source=172.16.1.199\SQLULP;Initial Catalog=aspel_prod30;Persist Security Info=True;User ID=sa;Password=0123456789;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="aspel_sae50" connectionString="Data Source=172.16.1.199\SQLULP;Initial Catalog=aspel_sae50;Persist Security Info=True;User ID=sa;Password=0123456789;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;persist security info=True;user id=sa;password=0123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;persist security info=True;user id=sa;password=0123456789;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;user id=sa;password=0123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!-- AZURE, DESARROLLO PARA ULP-->
    <!--
    <add name="aspel_prod30" connectionString="Data Source=ulp3.cloudapp.net;Initial Catalog=aspel_prod30;Persist Security Info=True;User ID=sa1;Password=0123456789;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="aspel_sae50" connectionString="Data Source=ulp3.cloudapp.net;Initial Catalog=aspel_sae50;Persist Security Info=True;User ID=sa1;Password=0123456789;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ulp3.cloudapp.net;initial catalog=SIP;persist security info=True;user id=sa1;password=0123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ulp3.cloudapp.net;initial catalog=SIP;persist security info=True;user id=sa1;password=0123456789;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ulp3.cloudapp.net;initial catalog=SIP;user id=sa1;password=0123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!-- ULP DESARROLLO ALAN-->
    <!--
    <add name="aspel_sae80" connectionString="Data Source=ASUS-ARC\SQL2019;Initial Catalog=SAE80UNIFORMES01;Persist Security Info=True;User ID=sa;Password=adminin;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS-ARC\SQL2019;initial catalog=SIP;persist security info=True;user id=sa;password=adminin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS-ARC\SQL2019;initial catalog=SIP;persist security info=True;user id=sa;password=adminin;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS-ARC\SQL2019;initial catalog=SIP;persist security info=True;user id=sa;password=adminin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AspelSae80Context" connectionString="metadata=res://*/aspel_sae80.AspelSae80Context.csdl|res://*/aspel_sae80.AspelSae80Context.ssdl|res://*/aspel_sae80.AspelSae80Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS-ARC\SQL2019;initial catalog=SAE80UNIFORMES01;user id=sa;password=adminin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
    <!--PRODUCCÍON ULP-->
    <!--
    <add name="aspel_sae80" connectionString="Data Source=192.168.75.2;Initial Catalog=SAE80UNIFORMES01;Persist Security Info=True;User ID=sa;Password=sql%3i;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2;initial catalog=SIP;persist security info=True;user id=sa;password=sql%3i;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2;initial catalog=SIP;persist security info=True;user id=sa;password=sql%3i;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2;initial catalog=SIP;persist security info=True;user id=sa;password=sql%3i;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AspelSae80Context" connectionString="metadata=res://*/aspel_sae80.AspelSae80Context.csdl|res://*/aspel_sae80.AspelSae80Context.ssdl|res://*/aspel_sae80.AspelSae80Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2;initial catalog=SAE80UNIFORMES01;user id=sa;password=sql%3i;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--PRUEBAS ULP-->
    
    <!--<add name="aspel_sae80" connectionString="Data Source=192.168.75.2\PRUEBAS;Initial Catalog=SAE80UNIFORMES01;Persist Security Info=True;User ID=sa;Password=sql%3i;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2\PRUEBAS;initial catalog=SIP;persist security info=True;user id=sa;password=sql%3i;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2\PRUEBAS;initial catalog=SIP;persist security info=True;user id=sa;password=sql%3i;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2\PRUEBAS;initial catalog=SIP;persist security info=True;user id=sa;password=sql%3i;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AspelSae80Context" connectionString="metadata=res://*/aspel_sae80.AspelSae80Context.csdl|res://*/aspel_sae80.AspelSae80Context.ssdl|res://*/aspel_sae80.AspelSae80Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2\PRUEBAS;initial catalog=SAE80UNIFORMES01;user id=sa;password=sql%3i;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--

    <add name="aspel_prod30" connectionString="Data Source=192.168.75.2;Initial Catalog=aspel_prod30;Persist Security Info=True;User ID=aspel;Password=aspel123" providerName="System.Data.SqlClient" />
    <add name="aspel_sae50" connectionString="Data Source=192.168.75.2;Initial Catalog=aspel_sae50;Persist Security Info=True;User ID=aspel;Password=aspel123" providerName="System.Data.SqlClient" />
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2;initial catalog=SIP;persist security info=True;user id=aspel;password=aspel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2;initial catalog=SIP;persist security info=True;user id=aspel;password=aspel123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.2;initial catalog=SIP;user id=aspel;password=aspel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <add name="aspel_sae80" connectionString="Data Source=DESKTOP-41JF6MQ;Initial Catalog=SAE80UNIFORMES01;Persist Security Info=True;User ID=sa;Password=Admin2023;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-41JF6MQ;initial catalog=SIP;persist security info=True;user id=sa;password=Admin2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-41JF6MQ;initial catalog=SIP;persist security info=True;user id=sa;password=Admin2023;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-41JF6MQ;initial catalog=SIP;persist security info=True;user id=sa;password=Admin2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AspelSae80Context" connectionString="metadata=res://*/aspel_sae80.AspelSae80Context.csdl|res://*/aspel_sae80.AspelSae80Context.ssdl|res://*/aspel_sae80.AspelSae80Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-41JF6MQ;initial catalog=SAE80UNIFORMES01;user id=sa;password=Admin2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="tmrCheckForUpdate" value="false"/>
    <add key="tmrCheckForUpdateMilliSeconds" value="3600000"/>
    <add key="tmrCheckForUpdateUrl" value="http://www.trainit.com.mx/ulp2/SIP80/CurrentVersion.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Path_Bitacora_SAE" value="D:\\DACASPEL\\Bitacora SAE 8.0\\"/>
    <add key="Path_Bitacora_BANCO" value="D:\\DACASPEL\\Bitacora BANCO 4.0\\"/>

  </appSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="timbrarCFDIBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="timbrarCFDIBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.edifactmx-pac.com:443/serviceCFDI/timbraCFDI.php" binding="basicHttpBinding" bindingConfiguration="timbrarCFDIBinding" contract="PAC_Edifact.timbrarCFDIPortType" name="timbrarCFDIPort"/>
    </client>
  </system.serviceModel>
</configuration>
