<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="aspel_prod30" connectionString="Data Source=172.16.1.199\SQLULP;Initial Catalog=aspel_prod30;Persist Security Info=True;User ID=sa;Password=0123456789" providerName="System.Data.SqlClient"/>
    <add name="aspel_sae50" connectionString="Data Source=172.16.1.199\SQLULP;Initial Catalog=aspel_sae50;Persist Security Info=True;User ID=sa;Password=0123456789" providerName="System.Data.SqlClient"/>
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;persist security info=True;user id=sa;password=0123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;persist security info=True;user id=sa;password=0123456789;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;user id=sa;password=0123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
