<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SIPPermisosContext" connectionString="metadata=res://*/SIPPermisos.Permisos.csdl|res://*/SIPPermisos.Permisos.ssdl|res://*/SIPPermisos.Permisos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;persist security info=True;user id=Admin;password=Admin2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SIPReportesContext" connectionString="metadata=res://*/SIPReportes.Reportes.csdl|res://*/SIPReportes.Reportes.ssdl|res://*/SIPReportes.Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;user id=Admin;password=Admin2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SIPNegocioContext" connectionString="metadata=res://*/SIPNegocio.Negocio.csdl|res://*/SIPNegocio.Negocio.ssdl|res://*/SIPNegocio.Negocio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199\SQLULP;initial catalog=SIP;persist security info=True;user id=Admin;password=Admin2023;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
